.hBar {
	position: fixed;
	top: 0;
	left:0;
	right: 0;
  	height: 60px;
  	transform: translateY(0);
  	transition: transform .2 ease;
	z-index: 50;
	display: flex;
	background: rgba(0, 153, 255, 0.568);
	backdrop-filter: blur(10px);
	border-bottom: 1px solid rgb(255, 255, 255);
}

[hdr-bar].hdrHidden{
  transform: translateY(-110%);
}

.hInner {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 5px;
	justify-content: space-between;
	margin: 0 auto;
	box-sizing: border-box;
}

.hMenuBtn {
	display: flex;
	width: 50px;
	height: 50px;
	border: 0;
	background-color: transparent;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	background-image: url("./Menu/MenuButton_Normal.webp");
	padding: 0;
	border-radius: 999px;
}
.hMenuBtn:hover {
	background-image: url("./Menu/MenuButton_Hover.webp");
}

.hMenuBtn:active {
	background-image: url("./Menu/MenuButton_Clicked.webp");
}
 
.hBrandLink {
	height: 100%;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
}

.hBrand {
	height: 100%;
	cursor: pointer;
}